@model KapyApp.Models.SelectCategoryEditorViewModel


<h2>SelectCategoryEditorViewModel</h2>

<tr>

    <td style="text-align:center">
        @Html.CheckBoxFor(model => model.Selected);
    </td>
</tr>

