
@model IEnumerable<KapyApp.Models.Category>
@{
    ViewBag.Title = "categoryIndex";
}
<div style=”font-family:Arial”>

    <br />
    <h4>Please select your interested categories below</h4>

    @using (Html.BeginForm())
    {
        @Html.EditorForModel()
        <br />
        <input type="submit" value="Submit" />
    }
</div> 